.pantallaUpload {
  
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 3;
}

.input,
.select {
  padding: 10px;
  font-size: 18px;
  width: 80%;
  border-radius: 5px;
  border: none;
}

.button {
  padding: 12px 24px;
  font-size: 18px;
  background:transparent;
  color:white;
  border: #4fd1c5;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.previewContainer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.previewImg {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #ccc;
}

.saveBtn {
  padding: 5px 5px;
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid #4fd1c5;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveBtn.saved {
  background-color: #4fd1c5;
}

.botonControl {
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.botonControl:hover {
  background: rgba(255, 255, 255, 0.3);
}

.feedback {
  margin-top: 10px;
  font-size: 14px;
  color: #4fd1c5;
}
