h3{
  color: aliceblue;
}
.pantallaUpload {
  height:100% ;
  background: black;
  display:block;
  flex-direction: column;
  overflow-y: auto;   
  
  align-items: center;
  gap: 20px;
  z-index: 3;
}

.input{
  padding: 5px;
  font-size: 12px;
  width: 80%;
  border-radius: 5px;
  border: none;
}
.topButtonRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.backButton {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.backButton:hover {
  text-decoration: underline;
}

.button {
  padding: 12px 24px;
  font-size: 30px;
  background:transparent;
  color:white;
  border: #4fd1c5 !important;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0px!important;
}
.previewContainer {
  width: 100%;
  max-width: 100%;
  margin-top: 1px;
}
.previewCarousel {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  height: 200px;
  scroll-snap-type: x mandatory;
  padding: 0 8px;
}

/* Imágenes en carrusel */
.previewImg {
  flex: 0 0 auto;
  height: 100%;
  width: auto;
  max-width: 200px;
  object-fit: cover;
  border: 2px solid var(--color-accent);
  border-radius: 6px;
  scroll-snap-align: start;
}

.feedback {
  margin-top: 10px;
  font-size: 14px;
  color: #4fd1c5;
}
@media (max-width: 768px) {
  .pantallaUpload {
    height: 100%;                /* ⚠️ hereda el alto de mainContent */
  overflow-y: auto;            /* ✅ acá va el scroll */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 16px;
  gap: 20px;
  box-sizing: border-box;
  background: black;
  }
  h3{
    font-size: 12px;
    text-align: center;
  }
  .backButton{
    size: 10px;
  }
  .previewCarousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    height: 100px;
    scroll-snap-type: x mandatory;
    padding: 0 8px;
  }
}
