.container {
  display: flex;
  min-height:100vh ;
  flex-direction: row;
  font-family: 'Segoe UI', sans-serif;
  
}

.left {
  flex: 1;
  
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align: center;
}

.right {
  flex: 1;
  background-color: #FDFDFD; /* Tailwind sky-100 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.title {
  font-size: 3rem;
  color: #0284c7; /* Tailwind sky-600 */
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.125rem;
  color: #374151; /* Tailwind gray-700 */
  max-width: 400px;
}

.button {
  background-color: #0284c7;
  color: white;
  font-size: 1.125rem;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0369a1;
}

.link {
  margin-top: 1.5rem;
  color: #0284c7;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.95rem;
}
@media (max-width: 1068px) {
  .container {
    
    flex-direction: column;
    
  }

  .left, .right {
    min-height:50vh ;
    text-align: center;
  }
  .title {
    font-size: 2rem;
    
  }

  .button {
    width: 100%;
    max-width: 300px;
  }

  .link {
    margin-bottom:6rem;
    font-size:0.9rem ;
  }
}
