:root {
  --color-bg: #FDFDFD;
  --color-text: #114c5f;
  --color-accent: #00d6c6;
  --color-secondary: #3e5f68;
  --bs-primary: #114c5f; /* Para compatibilidad con Bootstrap */
} 
.layoutWrapper {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
  color: #212529;
}

.mainContent {
  min-height: calc(100vh - 60px); 
  background-color: #FDFDFD;
  overflow-y: hidden; 
}