.Btn{
  color:black;
  border-radius:5px ;
  margin-right: 5px;
  background-color:rgb(201, 223, 236);
  border:1px solid rgb(184, 188, 190);
}
.menu{
  position: absolute;
  top: 110%;
  right: 0;
  min-width: 180;
  background: #fff;
  border:1px solid #e2e8f0;
 border-radius: 8;
  box-shadow: 0 10px 30px rgba(2,6,23,.12);
 padding: 6;
 z-index: 10;
}